[submodule "components/hagl"]
	path = components/hagl
        url = https://github.com/allenck/hagl.git
[submodule "components/hagl_hal"]
	path = components/hagl_hal
        url = https://github.com:allenck/hagl_esp_mipi.git
